!!! 5
html(lang="en")
  head
    title channel
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='/js/app.js')
    link(rel='stylesheet',type='text/css',href='/css/app.css')
  body(data-channel-id=id)
    div(id='console')
